/* global.css */
.frame{
  --maxWidth:100%;
  --menuWidth:200px;
  --headerHeight:52px;
  --footerHeight:40px;
  --collapseWidth:50px;
  --collapseMenuWidth:160px;

  --topbarHeight:0px;
  --breadHeight:40px;

  --bannerBgColor:#21364a;
  --navBgColor:#21364a;
  --menuBgColor:#2d4054;
  --deepMenuBgColor:hsla(0,0%,0%,.03);

  --appColor:#ffffff;
  --linkColor:#f0f0f0;
  --linkHoverColor:#40a9ff;
  --linkActiveColor:#40a9ff;

  --appBgColor:#eaeff2;/* #e0e3e6; */

  --footerBgColor:#ffffff;
}
.frame.dark{
  --maxWidth:100%;
  --menuWidth:200px;
  --headerHeight:52px;
  --footerHeight:40px;
  --collapseWidth:50px;
  --collapseMenuWidth:160px;

  --topbarHeight:0px;
  --breadHeight:40px;

  --bannerBgColor:#21364a;
  --navBgColor:#21364a;
  --menuBgColor:#2d4054;
  --deepMenuBgColor:hsla(0,0%,0%,.03);

  --appColor:#ffffff;
  --linkColor:#f0f0f0;
  --linkHoverColor:#40a9ff;
  --linkActiveColor:#40a9ff;

  --appBgColor:#eaeff2;/* #e0e3e6; */

  --footerBgColor:#ffffff;
}
.frame.dark0{
  --maxWidth:100%;
  --menuWidth:220px;
  --headerHeight:50px;
  --footerHeight:45px;
  --collapseWidth:50px;
  --collapseMenuWidth:160px;

  --topbarHeight:0px;
  --breadHeight:40px;

  --bannerBgColor:#21364a;
  --navBgColor:#21364a;
  --menuBgColor:#2d4054;
  --deepMenuBgColor:hsla(0,0%,0%,.1);

  --appColor:#ffffff;
  --linkColor:#eeeeee;
  --linkHoverColor:#00b4cf;
  --linkActiveColor:#00b4cf;

  --appBgColor:#f3f3f3;

  --footerBgColor:#ffffff;
}
.frame.dark1{
  --maxWidth:100%;
  --menuWidth:250px;
  --headerHeight:60px;
  --footerHeight:50px;
  --collapseWidth:50px;
  --collapseMenuWidth:160px;

  --topbarHeight:0px;
  --breadHeight:40px;

  --bannerBgColor:#21364a;
  --navBgColor:#21364a;
  --menuBgColor:#2d4054;
  --deepMenuBgColor:hsla(0,0%,0%,.03);

  --appColor:#ffffff;
  --linkColor:#eeeeee;
  --linkHoverColor:#00b4cf;
  --linkActiveColor:#00b4cf;

  --appBgColor:#f3f3f3;

  --footerBgColor:#ffffff;
}
.frame.dark2{
  --maxWidth:1200px;
  --menuWidth:220px;
  --headerHeight:50px;
  --footerHeight:45px;
  --collapseWidth:50px;
  --collapseMenuWidth:160px;

  --topbarHeight:0px;
  --breadHeight:40px;

  --bannerBgColor:#21364a;
  --navBgColor:#21364a;
  --menuBgColor:#2d4054;
  --deepMenuBgColor:hsla(0,0%,0%,.03);

  --appColor:#ffffff;
  --linkColor:#eeeeee;
  --linkHoverColor:#00b4cf;
  --linkActiveColor:#00b4cf;

  --appBgColor:#f3f3f3;

  --footerBgColor:#ffffff;
}

.frame.light{
  --maxWidth:100%;
  --menuWidth:220px;
  --headerHeight:50px;
  --footerHeight:45px;
  --collapseWidth:50px;
  --collapseMenuWidth:160px;

  --topbarHeight:0px;
  --breadHeight:40px;

  --bannerBgColor:#fcfcfc;
  --navBgColor:#ffffff;
  --menuBgColor:#fcfcfc;
  --deepMenuBgColor:hsla(0,0%,0%,.03);

  --appColor:#333333;
  --linkColor:#444444;
  --linkHoverColor:#3498db;
  --linkActiveColor:#3498db;

  --appBgColor:#f3f3f3;

  --footerBgColor:#ffffff;
}
.frame.light1{
  --maxWidth:100%;
  --menuWidth:250px;
  --headerHeight:60px;
  --footerHeight:50px;
  --collapseWidth:50px;
  --collapseMenuWidth:160px;

  --topbarHeight:0px;
  --breadHeight:40px;

  --bannerBgColor:#fcfcfc;
  --navBgColor:#ffffff;
  --menuBgColor:#fcfcfc;
  --deepMenuBgColor:hsla(0,0%,0%,.03);

  --appColor:#333333;
  --linkColor:#444444;
  --linkHoverColor:#3498db;
  --linkActiveColor:#3498db;

  --appBgColor:#f3f3f3;

  --footerBgColor:#ffffff;
}





